<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <title>Env</title>
    <script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js">
    </script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static/frame/static/css/style.css">
    <script>
        //点击全选按钮勾选子节点操作
        function demo(){
            var allcheck=document.getElementById("allcheck");
            var choice=document.getElementsByName("choice");
            for(var i=0;i<choice.length;i++){
                choice[i].checked=allcheck.checked;
            }
        }
        //点击子复选框,全选框 选中、取消
        function setAll(){
            if(!$(".checknum").checked){
                $("#allcheck").prop("checked",false); // 子复选框某个不选择，全选也被取消
            }
            var choicelength=$("input[type='checkbox'][class='checknum']").length;
            var choiceselect=$("input[type='checkbox'][class='checknum']:checked").length;

            if(choicelength==choiceselect){
                $("#allcheck").prop("checked",true);   // 子复选框全部部被选择，全选也被选择；1.对于HTML元素我们自己自定义的DOM属性，在处理时，使用attr方法；2.对于HTML元素本身就带有的固有属性，在处理时，使用prop方法。
            }
        }
        $(function(){
            tip();
            edit();
            add();
            del();
            paging();
            editport();
            addport();
            funisRepeat();
            check()
        });
        //icon提示
        function tip(){
            $("#table").find(".icon").each(function(){
                $(this).mouseover(function(){
                    $(this).tooltip;
                 });
            });
        }
        //编辑
        function edit(){
            $("#btn2").click(function(){
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
                var count=0;
                var database=new Array();
                var elements=$(".ipt");
                var email_value
                $("#table").find(":checkbox:checked.checknum").each(function(){
                    database_value=$(this).parent()
                    for (var i=0;i<elements.length;i++){
                        database_value=database_value.next()
                        //alert(database_value.text());
                        database[i]=database_value.text();
                    }
                    //alert(email_subject)
                    count++;
                });
                if (count==1)
                {
                    for (var i=0;i<database.length;i++){
                        //alert(elements[i])
                        if (i==2){
                            if (database[i]==0){
                                $("#optionsRadios3").prop('checked',true);
                                $("#is_port1").css("display","inherit");
                            }
                            else if(database[i]==1){
                                $("#optionsRadios4").prop('checked',true);
                                $("#is_port1").css("display","none");
                            }
                            continue;
                        }
                        else if(i==3){
                            continue;
                        }
                        $(elements[i]).val(database[i]);
                    }
                    $('#editMyModal').modal("show");
                }
                else{
                    $("#myAlert").css("display","inherit");
                }
            });
        }
        //编辑根据数据库类别是否隐藏端口号
        function editport(){
            $("#optionsRadios3").click(function(){
                $("#is_port1").css("display","inherit");
            });
            $("#optionsRadios4").click(function(){
                $("#is_port1").css("display","none");
            });
        }
        //新增
        function add(){
            $("#btn1").click(function(){
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
            });
        }
        //新增根据数据库类别是否隐藏端口号
        function addport(){
            $("#optionsRadios2").click(function(){
                $("#is_port").css("display","none");
            });
            $("#optionsRadios1").click(function(){
                $("#is_port").css("display","inherit");
            });
        }
        //删除
        function del(){
            $("#btn3").click(function(){
                //调整被勾选的值
                change_checkedenv_ids();
                var env_ids=new Array();
                var count=0;
                var i=0;
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
                $("#table").find(":checkbox:checked").each(function(){
                    env_id = $(this).parent().next().text();
                    if (env_id != ""){
                        env_ids[i++]=env_id;
                    }
                    count++;
                });
                //alert(env_ids);
                if (count==0){
                    $("#myAlert1").css("display","inherit");
                    return false;
                }
                else{
                    $("#ipt1").val(env_ids);
                    $("#del").submit();
                }
            });
        }
        //定义一个被选中的全局变量
        var checkedenv_ids="{{ checkedenv_ids }}";
        checkedenv_ids=checkedenv_ids.split(",");
        // 根据返回值去勾选对应列
        function check(){
            //alert (checkedenv_ids);
            //当前页的列id
            $("#table").find(":checkbox.checknum").each(function(){
                env_id=$(this).parent().next().text();
                if (env_id != "") {
                    //env_ids.push(env_id);
                    //alert(env_id);
                    if (checkedenv_ids.includes(String(env_id))){
                        $(this).attr("checked", true);
                    }
                }
            });
            //全选
            setAll();
        }
        //根据当前页的勾选变化改变checkedenv_ids值
        function change_checkedenv_ids(){
            //当前页的列id
            $("#table").find(":checkbox.checknum").each(function(){
                env_id=$(this).parent().next().text();
                if (env_id != "") {
                    //env_ids.push(env_id);
                    //alert($(this).attr("checked"));
                    //选中则判断数组是否存在，不存在则入栈
                    if ($(this).is(":checked")){
                        //alert(1);
                        //$(this).attr("checked", true);
                        if (!checkedenv_ids.includes(String(env_id))){
                            checkedenv_ids.push(String(env_id));
                        }
                    }
                    //未选中则判断数组是否存在，存在则出栈
                    else{
                        if (checkedenv_ids.includes(String(env_id))){
                            checkedenv_ids = $.grep(checkedenv_ids, function(value) {
                                return value != String(env_id);
                            });
                        }
                    }
                }
            });
            //alert(checkedenv_ids);
        }
        //分页
        function paging(){
            function merge(btn){
                //调整被勾选的值
                change_checkedenv_ids();

                elementip=$("#ipt2").val();
                elementname=$("#ipt3").val();
                elementtype=$("#ipt4").val();
                oldHref=$(btn).attr("href");
                href=oldHref+"&db_ip="+elementip+"&db_name="+elementname+"&db_typename="+elementtype+"&checkedenv_ids="+checkedenv_ids
                $(btn).attr("href",href)
            }
            var elementip,elementname,elementtype;
            $("#first").click(function(){
                merge(this);
            });
            $("#previous").click(function(){
                merge(this);
            });
            $("#next").click(function(){
                merge(this);
            });
            $("#last").click(function(){
                merge(this);
            });
        }
        //判断提交的表单备注是否重复
        function funisRepeat(){
            var isRepeat;
            isRepeat="{{ isRepeat }}";
            if (isRepeat>=1){
                RepeatMessage="{{ RepeatMessage }}"
                $("#tipModalLabel").text(RepeatMessage);
                $('#tipModal').modal("show");
            }
        }
    </script>
</head>
<body role="document">
    <!--环境搜索栏-->
    <div class="page-header" >
        <form class="navbar-form" method="GET" action="/database_search_name/">
            <div class="form-group">
                <input id="ipt2" name="db_ip" type="text" placeholder="ip" class="form-control" value={{ db_ip }}>
                <input id="ipt4" name="db_typename" type="text" placeholder="数据库类别" class="form-control" value={{ db_typename }}>
                <input  id="ipt3" name="db_name" type="text" placeholder="appname" class="form-control" value={{ db_name }}>
            </div>
            <button id="btn4" type="submit" class="btn layui-btn" >搜索</button>
            {% csrf_token %}
        </form>
    </div>
    <!--警告框-->
    <div id="myAlert" class="alert alert-warning" style="display: none">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>警告！</strong>编辑时只能勾选一条。
    </div>
    <div id="myAlert1" class="alert alert-warning" style="display: none">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>警告！</strong>删除时一定要勾选一条。
    </div>
    <!--按钮-->
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button id="btn1" class="btn layui-btn"  data-toggle="modal" data-target="#addMyModal" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
            </button>
            <button id="btn2" class="btn layui-btn"  data-toggle="modal" data-target="#">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
            </button>
            <button id="btn3" type="onclick" class="btn layui-btn" data-toggle="modal" data-target="#delmyModal">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
            </button>
        </div>
    </div>
    <!--数据库列表-->
    <div>
        <div>
            <table id="table" class="table table-striped">
                <tr>
                    <th><input type="checkbox" id="allcheck"  onclick="demo()" /></th><th>id</th><th>数据库的连接名称</th><th style="display:none;">数据库类别编号</th><th>数据库类别</th>
                    <th>ip</th><th>端口</th><th>用户名</th><th>密码</th><th>appname</th>
                </tr>
                <tbody>
                {% for database in databases %}
                    <tr>
                        <td id="che1"><input type="checkbox" name="choice" class="checknum"  onclick="setAll()"/></td>
                        <td>{{ database.id }}</td>
                        <td>{{ database.db_remark }}</td>
                        <td style="display:none;">{{ database.db_type }}</td>
                        <td>{{ database.db_typename }}</td>
                        <td>{{ database.db_ip }}</td>
                        <td>{{ database.db_port }}</td>
                        <td>{{ database.db_user }}</td>
                        <td >{{ database.db_password }}</td>
                        <td>{{ database.db_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 模态框示例（Modal） -->
    <!--新增-->
    <div class="modal fade" id="addMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增数据库配置
				</h4>
			</div>
			<div class="modal-body">
                <form role="form" method='POST' action="/database_add_data/">
                    <div class="form-group">
                        <label for="db_remark">数据库的连接名称&nbsp;<span class="glyphicon glyphicon-question-sign icon" title="连接名,自定义且唯一标识"></span></label>
                        <input  type="text" class="form-control" name="db_remark" placeholder="请输入数据库的连接名称" required>
                   </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input type="radio" name="db_type" id="optionsRadios1" value="Mysql" checked> Mysql
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="db_type" id="optionsRadios2" value="SqlServer"> Sql Server
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="db_ip">ip</label>
                        <input  type="text" class="form-control" name="db_ip" placeholder="请输入ip" required>
                    </div>
                    <div class="form-group" id="is_port" >
                        <label for="db_port">端口</label>
                        <input   type="text" class="form-control" name="db_port" placeholder="请输入端口" required onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                   </div>
                    <div class="form-group">
                        <label for="db_user">用户名</label>
                        <input  type="text" class="form-control" name="db_user" placeholder="请输入用户名" required>
                   </div>
                    <div class="form-group">
                        <label for="db_password">密码</label>
                        <input  type="text" class="form-control" name="db_password" placeholder="请输入密码" >
                   </div>
                    <div class="form-group">
                        <label for="db_name">appname&nbsp;<span class="glyphicon glyphicon-question-sign icon" title="数据库应用名"></span></label>
                        <input  type="text" class="form-control" name="db_name" placeholder="请输入appname" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
				        <button type="submit" class="btn layui-btn">
					    提交
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!-- 编辑 -->
   <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑数据库配置
				</h4>
			</div>
			<div class="modal-body">
                <form role="form" method='POST' action="/database_edit_data/">
                    <div class="form-group" style="display: none">
                        <label  for="id">id</label>
                        <input  type="text" class="ipt form-control" name="id" placeholder="请输入id" >
                    </div>
                    <div class="form-group">
                        <label for="db_remark">数据库的连接名称&nbsp;<span class="glyphicon glyphicon-question-sign icon" title="连接名,自定义且唯一标识"></span></label>
                        <input  type="text" class="ipt form-control" name="db_remark" placeholder="请输入数据库的连接名称"  required>
                   </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input type="radio" name="db_type" class="ipt" id="optionsRadios3" value="Mysql"> Mysql
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="db_type" class="ipt"  id="optionsRadios4" value="SqlServer"> Sql Server
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="db_ip">ip</label>
                        <input  type="text" class="ipt form-control" name="db_ip" placeholder="请输入ip" required>
                    </div>
                    <div class="form-group" id="is_port1" >
                        <label for="db_port">端口</label>
                        <input   type="text" class="ipt form-control" name="db_port" placeholder="请输入端口" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                   </div>
                    <div class="form-group">
                        <label for="db_user">用户名</label>
                        <input  type="text" class="ipt form-control" name="db_user" placeholder="请输入用户名" required>
                   </div>
                    <div class="form-group">
                        <label for="db_password">密码</label>
                        <input  type="text" class="ipt form-control" name="db_password" placeholder="请输入密码" >
                   </div>
                    <div class="form-group">
                        <label for="db_name">appname&nbsp;<span class="glyphicon glyphicon-question-sign icon" title="数据库应用名"></label>
                        <input  type="text" class="ipt form-control" name="db_name" placeholder="请输入appname" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
				        <button type="submit" class="btn layui-btn">
					    提交
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!--删除二次确认框-->
    <div class="modal fade" id="delmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
                    确认要删除吗？<strong>删除会影响被删除库sql的执行</strong>
				</h4>
			</div>
			<div class="modal-body">
                <form role="form" method='POST' action="/database_delete_data/">
                    <input id="ipt1" type="text" name="id" style="display:none"/>
                    <div class="modal-body" align="center">
                        <img src="../static/img/caveat.jpg"  width="50%" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
				        <button type="submit" class="btn layui-btn">
					    确认
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!--自动填充提示内容模态框-->
    <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-body">
                <h1   class="modal-title" id="tipModalLabel" style="font-size:18px;font-weight: bold;">
				</h1>
                <div class="modal-footer">
                    <button type="button" class="btn layui-btn" data-dismiss="modal" aria-hidden="true" value="确认">
                        确认
                    </button>
                </div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!--分页器-->
    <div style="text-align: right;">
        <ul class="pagination pagination-sm">
            <li>
                <span class="current">
                    Page {{ databases.number }} of {{ databases.paginator.num_pages }}
                </span>
            </li>
            <li>
                <a id="first" href="/database/?page=1">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </a>
            </li>
            <li>
                {% if databases.has_previous %}
                <a id="previous" href="/database/?page={{ databases.previous_page_number }}">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if databases.has_next %}
                <a id="next" href="/database/?page={{ databases.next_page_number }}">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
                {% endif %}
            </li>
            <li>
                <a id="last" href="/database/?page={{ databases.paginator.num_pages }}">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>