<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nosql</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.11.1.min.js">
    </script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/pageDeal.js"></script>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static/frame/static/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-select.css">
    <script>
        //把Nosql输入框换行替换
        function Nolinebreaks(id){
            var doc=$(id).val();
            if (doc){
                doc= doc.replace(/[\r\n]/g," ");
                $(id).val(doc);
            }
        }
        //定义一个被选中的全局变量
        var checked_ids="{{ checkedenv_ids }}";

        $(function(){
            changeSelect("selectpicker");//修改select框
            display("table","td",80,60);//列表数据一旦超过多少个字符串就只显示，多少个字符串+...
            edit();
            add();
            del("btn3","ipt1","table","checkbox","checknum","myAlert1");
            paging();
            search();
            check("table","allcheck","checkbox","checknum"); // 根据返回值去勾选对应列
        });

        function search(){
            var elementsStatus="#select1 option";
            var valueStatus="{{ select }}";
            get_option(elementsStatus,valueStatus);
            var elementsstep="#selectstep option";
            var selectstep="{{ selectstep }}";
            //console.log(selectstep);
            get_option(elementsstep,selectstep);

            //带input的select
            startValue="用例";
            elements="#searchdiv"
            get_option_new_select(elements,selectstep,startValue);//根据返回值确认带模糊查询的搜索框
            choose_new_select(elements,selectstep);


            var elementsisselect="#selectisselect option";
            var selectisselect="{{ selectisselect }}";
            get_option(elementsisselect,selectisselect);
        }
        //编辑
        function edit(){
            $("#btn2").click(function(){
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
                var count=0;
                var env_value;
                var env=new Array();
                var elements=$(".ipt");
                $("#table").find(":checkbox:checked.checknum").each(function(){
                    env_value=$(this).parent()
                    for (var i=0;i<elements.length;i++){
                        env_value=env_value.next()
                        //alert(email_value.text());
                        env[i]=env_value.attr("titlevalue");
                    }
                    //alert(env)
                    count++;
                });
                if (count==1)
                {
                    //alert(env);
                    for (var i=0;i<env.length-1;i++){
                        if (i!=1){
                            $(elements[i]).val(env[i]);
                        }
                        //带有select的input特殊处理
                        else{
                            selectstep=env[i];
                        }
                    }
                    //带input的select
                    startValue="用例";
                    selectelements="#editdiv"
                    //get_option_new_select(selectelements,selectstep,startValue);
                    $('#editselectstep').val(selectstep).trigger("change");
                    choose_new_select(selectelements,selectstep);//根据返回值选中高亮
                    if (env[env.length-1]=="True"){
                        $(elements[env.length-1]).prop('checked',true);
                    }
                    else{
                        $(elements[env.length-1]).removeAttr('checked');
                    }
                    //初始化是否是查询和变量输入框
                    if ($("#editvariable input").val()==""){
                        $("#editisselect").removeAttr('checked');
                        $("#editvariable").attr("style","display:None");
                    }
                    else{
                        $("#editisselect").prop('checked',true);
                        $("#editvariable").attr("style","display:Block");
                    }
                    //redis数据类型初始化
                    if ($("#editNosql_dataType1").val()==1){
                        $("#editNosql_dataType2").prop('checked',true);
                        $("#editNosql_dataType1").removeAttr('checked');
                        $("#editNosql_dataType1").val(0);
                    }
                    else if($("#editNosql_dataType1").val()==0){
                        $("#editNosql_dataType1").prop('checked',true);
                        $("#editNosql_dataType2").removeAttr('checked');
                        $("#editNosql_dataType1").val(0);
                    }
                    //执行位置初始化
                    if ($("#editNosql_condition1").val()==1){
                        $("#editNosql_condition2").prop('checked',true);
                        $("#editNosql_condition1").removeAttr('checked');
                        $("#editNosql_condition3").removeAttr('checked');
                        $("#editNosql_condition1").val(0);
                    }
                    else if($("#editNosql_condition1").val()==0){
                        $("#editNosql_condition1").prop('checked',true);
                        $("#editNosql_condition2").removeAttr('checked');
                        $("#editNosql_condition3").removeAttr('checked');
                        $("#editNosql_condition1").val(0);
                    }
                    else{
                        $("#editNosql_condition3").prop('checked',true);
                        $("#editNosql_condition1").removeAttr('checked');
                        $("#editNosql_condition2").removeAttr('checked');
                        $("#editNosql_condition1").val(0);
                    }
                    $('#editMyModal').modal("show");
                }
                else{
                    $("#myAlert").css("display","inherit");
                }
            });
            isvariable("#editisselect","#editvariable");
            $("#editsubmit").click(function() {
                //获取body数据
                data=$("#editNoSql").val();
                //校验body参数是不是符合json
                if (data){
                    result=isJson(data);
                }
                else{
                    result=1;
                }
                if (result==0){
                    $("#editmyAlert").css("display","inherit");
                }
                else{
                    Nolinebreaks("#editNoSql");//把Nosql框里的内容去换行
                    $("#edit").submit();
                }
            });
        }
        //新增和编辑的时候根据该sql是否是查询判断变量输入框是否显示
        function isvariable(checkbox,ipt){
            $(checkbox).click(function() {
                if($(checkbox).is(':checked')){
                    $(ipt).attr("style","display:Block");
                }
                else{
                    $(ipt).attr("style","display:None");
                }
            });
        }
        //判断字符串是不是符合json格式
        function isJson(data){
            var result;
            try {
        　　　　var obj=JSON.parse(data);
        　　　　if(typeof obj == 'object'){
        　　　　  　 result=1;
        　　　　}else{
        　　　　　　result=0;
        　　　　}
        　　} catch(e) {
        　　　　result=0;
        　　}
            return  result;
        }
        //新增
        function add(){
            $("#btn1").click(function(){
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
                $("#addmyAlert").css("display","none");
            });
            isvariable("#isselect","#addvariable");
            $("#addsubmit").click(function() {
                //获取body数据
                data=$("#addNoSql").val();
                //校验body参数是不是符合json
                if (data){
                    result=isJson(data);
                }
                else{
                    result=1;
                }
                if (result==0){
                    $("#addmyAlert").css("display","inherit");
                }
                else{
                    Nolinebreaks("#addNoSql");//把sql框里的内容去换行
                    $("#add").submit();
                }
            });
        }

        //分页
        function paging(){
            var elementselectstep,elementselectisselect,elementselect;
            function merge(btn){
                //调整被勾选的值
                checked_ids=change_checked_ids(checked_ids,"table","checkbox","checknum");

                elementselectstep=$("#selectstep").val();
                elementselectisselect=$("#selectisselect").val();
                elementselect=$("#select1").val();
                oldHref=$(btn).attr("href");
                href=oldHref+"&step_name="+elementselectstep+"&selectisselect="+elementselectisselect+"&select="+elementselect+"&checkedenv_ids="+checked_ids;
                $(btn).attr("href",href)
            }
            $("#first").click(function(){
                merge(this);
            });
            $("#previous").click(function(){
                merge(this);
            });
            $("#next").click(function(){
                merge(this);
            });
            $("#last").click(function(){
                merge(this);
            });
        }
    </script>
</head>
<body role="document">
    <!--环境搜索栏-->
    <div class="page-header" >
        <form class="navbar-form" method="GET" action="/Nosql_search_name/">
            <div class="form-group" id="searchdiv" style="width:20%">
                <select id="selectstep" name="step_name" class="form-control selectpicker" data-live-search="true">
                    <option value="0" class="select">用例</option>
                    {% for step_name in step_names %}
                        <option>{{ step_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" >
                <select id="selectisselect" name='selectisselect' class="form-control" >
                    <option  value="2"  class="select">是否是查询</option>
                    <option value="1" class="select">查询</option>
                    <option value="0" class="select">非查询</option>
                </select>
                <select id="select1" name='select' class="form-control" >
                    <option  value="2"  class="select">状态</option>
                    <option value="1" class="select">生效中</option>
                    <option value="0" class="select">已禁用</option>
                </select>
            </div>
            <button id="btn4" type="submit" class="btn layui-btn" >搜索</button>
            {% csrf_token %}
        </form>
    </div>
    <!--警告框-->
    <div id="myAlert" class="alert alert-warning" style="display: none">
	    <strong>警告！</strong>编辑时只能勾选一条。
    </div>
    <div id="myAlert1" class="alert alert-warning" style="display: none">
	    <strong>警告！</strong>删除时一定要勾选一条。
    </div>
    <div id="myAlert2" class="alert alert-warning" style="display: none">
	    <strong>警告！</strong>批量修改时一定要勾选一条。
    </div>
    <!--按钮-->
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button id="btn1" class="btn layui-btn"  data-toggle="modal" data-target="#addMyModal" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
            </button>
            <button id="btn2" class="btn layui-btn"  data-toggle="modal" data-target="#">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
            </button>
            <button id="btn3" type="onclick" class="btn layui-btn" data-toggle="modal" data-target="#delmyModal">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
            </button>
        </div>
    </div>
    <!--环境列表-->
    <div>
        <div>
            <table id="table" class="table table-striped">
                <tr>
                    <th><input type="checkbox" id="allcheck"  onclick='checkAll("allcheck","choice")' /></th><th>id</th><th>用例名</th><th>redis数据类型</th><th>是否是查询</th><th>变量</th><th>Nosql</th><th>执行位置</th><th>备注</th><th>状态</th>
                </tr>
                <tbody>
                {% for Nosql in Nosqls %}
                    <tr>
                        <td id="che1"><input type="checkbox" name="choice" class="checknum"  onclick='setAll("allcheck","checkbox","checknum")'/></td>
                        <td titlevalue={{ Nosql.id }}>{{ Nosql.id }}</td>
                        <td titlevalue={{ Nosql.step }}>{{ Nosql.step }}</td>
                        {% if Nosql.Nosql_dataType is 0 %}
                            <td titlevalue={{ Nosql.Nosql_dataType }}>字符串</td>
                        {% else %}
                            <td titlevalue={{ Nosql.Nosql_dataType }}>列表</td>
                        {% endif %}
                        {% if Nosql.is_select %}
                            <td titlevalue={{ Nosql.is_select }}>查询</td>
                        {% else %}
                            <td titlevalue={{ Nosql.is_select }}>非查询</td>
                        {% endif %}
                        <td titlevalue="{{ Nosql.variable }}">{{ Nosql.variable }}</td>
                        <td titlevalue="{{ Nosql.Nosql }}">{{ Nosql.Nosql }}</td>
                        {% if Nosql.Nosql_condition is 0 %}
                            <td titlevalue={{ Nosql.Nosql_condition }}>前置</td>
                        {% elif Nosql.Nosql_condition is 1 %}
                            <td titlevalue={{ Nosql.Nosql_condition }}>中间态</td>
                        {% else %}
                            <td titlevalue={{ Nosql.Nosql_condition }}>后置</td>
                        {% endif %}
                        <td titlevalue="{{ Nosql.remake }}">{{ Nosql.remake }}</td>
                        {% if Nosql.status %}
                            <td titlevalue={{ Nosql.status }}><span class="choosespan label label-success" >生效中</span></td>
                        {% else %}
                            <td titlevalue={{ Nosql.status }}><span class="choosespan label label-danger">已禁用</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 模态框示例（Modal） -->
    <!--新增-->
    <div class="modal fade" id="addMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增Nosql
				</h4>
			</div>
			<div class="modal-body">
                <form id="add" role="form" method='POST' action="/Nosql_add_data/">
                    <!--警告框-->
                    <div id="addmyAlert" class="alert alert-danger" style="display: none">
                        <strong>警告！</strong>填写的Nosql参数不符合json标准。
                    </div>
                    <div class="form-group">
                        <label  for="step_name" >用例名</label>
                        <select name="step_name" class="form-control selectpicker" data-live-search="true" required>
                            {% for step_name in step_names %}
                            <option>{{ step_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_dataType" id="Nosql_dataType1" value="0" checked> 字符串
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_dataType" id="Nosql_dataType2" value="1"> 列表
                        </label>
                    </div>
                    <div class="form-group" >
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isselect" id="isselect" checked> 是否是查询
                        </label>
                    </div>
                    <div class="form-group" id="addvariable">
                        <label  for="variable">变量</label>
                        <input  type="text" class="form-control"  name="variable" placeholder="请输入变量">
                    </div>
                    <div class="form-group">
                        <label  for="Nosql">Nosql</label>
                        <textarea  id="addNoSql" class="form-control" name="Nosql" placeholder="请输入Nosql" required style="height:250px" ></textarea>
                    </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_condition" id="Nosql_condition1" value="0" checked> 前置
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_condition" id="Nosql_condition2" value="1"> 中间态
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_condition" id="Nosql_condition3" value="2"> 后置
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="remake">备注</label>
                        <input  type="text" class="form-control" name="remake" placeholder="请输入备注">
                    </div>
                    <div class="form-group" >
                        <label class="checkbox-inline">
                            <input type="checkbox" name="status" id="optionsRadios1" checked> 状态
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
                        <button id="addsubmit" type="button" class="btn layui-btn">
					    提交
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!-- 编辑 -->
    <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑Nosql
				</h4>
			</div>
			<div class="modal-body">
                <form id="edit" role="form" method='POST' action="/Nosql_edit_data/">
                    <div class="form-group" style="display: none">
                        <label  for="id">id</label>
                        <input  type="text" class="ipt form-control" name="id" placeholder="请输入id" >
                    </div>
                    <!--警告框-->
                <div id="editmyAlert" class="alert alert-danger" style="display: none">
                    <strong>警告！</strong>填写的NoSql参数不符合json标准。
                </div>
                    <!--给label的class加个ipt的属性，保证新的select成功-->
                    <div class="form-group ipt" id="editdiv">
                        <label  for="step_name " >用例名</label>
                        <select id="editselectstep" name="step_name" class=" form-control selectpicker" data-live-search="true" required>
                            {% for step_name in step_names %}
                            <option>{{ step_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input class="ipt" type="radio" name="Nosql_dataType" id="editNosql_dataType1" value="0" checked> 字符串
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_dataType" id="editNosql_dataType2" value="1"> 列表
                        </label>
                    </div>
                    <div class="form-group" >
                        <label class="checkbox-inline">
                            <input type="checkbox" class="ipt" name="isselect" id="editisselect" checked> 是否是查询
                        </label>
                    </div>
                    <div class="form-group" id="editvariable">
                        <label  for="variable">变量</label>
                        <input  type="text" class="ipt form-control"  name="variable" placeholder="请输入变量">
                    </div>
                    <div class="form-group">
                        <label  for="Nosql">Nosql</label>
                        <textarea  id="editNoSql" class="ipt form-control" name="Nosql" placeholder="请输入Nosql" style="height:250px" required></textarea>
                    </div>
                    <div class="form-group" >
                        <label class="radio-inline">
                            <input type="radio" class="ipt" name="Nosql_condition"  id="editNosql_condition1" value="0" checked> 前置
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_condition" id="editNosql_condition2" value="1"> 中间态
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Nosql_condition" id="editNosql_condition3" value="2"> 后置
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="remake">备注</label>
                        <input  type="text" class="ipt form-control" name="remake" placeholder="请输入备注">
                    </div>
                    <div class="form-group" >
                        <label class="checkbox-inline">
                            <input type="checkbox" name="status" class="ipt" id="optionsRadios1" checked> 状态
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
                         <button id="editsubmit" type="button" class="btn layui-btn">
					    提交
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!--删除二次确认框-->
    <div class="modal fade" id="delmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					确认要删除吗？
				</h4>
			</div>
			<div class="modal-body">
                <form role="form" method='POST' action="/Nosql_delete_data/">
                    <input id="ipt1" type="text" name="id" style="display:none"/>
                    <div class="modal-body" align="center">
                        <img src="../static/img/caveat.jpg"  width="50%" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn layui-btn" data-dismiss="modal">关闭
				        </button>
				        <button type="submit" class="btn layui-btn">
					    确认
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>
    <!--分页器-->
    <div style="text-align: right;">
        <ul class="pagination pagination-sm">
            <li>
                <span class="current">
                    Page {{ Nosqls.number }} of {{ Nosqls.paginator.num_pages }}
                </span>
            </li>
            <li>
                <a id="first" href="/Nosql/?page=1">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </a>
            </li>
            <li>
                {% if Nosqls.has_previous %}
                <a id="previous" href="/Nosql/?page={{ Nosqls.previous_page_number }}">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if Nosqls.has_next %}
                <a id="next" href="/Nosql/?page={{ Nosqls.next_page_number }}">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
                {% endif %}
            </li>
            <li>
                <a id="last" href="/Nosql/?page={{ Nosqls.paginator.num_pages }}">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>