<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>接口测试平台</title>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static/frame/static/css/style.css">
    <link rel="icon" href="../static/frame/static/image/code.png">
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/pageDeal.js"></script>
    <script>
        $(function(){
            openTab()
        });
    </script>
</head>
<body>


<!-- layout admin -->
<div class="layui-layout layui-layout-admin"> <!-- 添加skin-1类可手动修改主题为纯白，添加skin-2类可手动修改主题为蓝白 -->
    <!-- header -->
    <div class="layui-header my-header">
        <a href="https://github.com/happyletme/requestnew">
            <!--<img class="my-header-logo" src="" alt="logo">-->
            <div class="my-header-logo">RequestNew</div>
        </a>
        <div class="my-header-btn">
            <button class="layui-btn layui-btn-small btn-nav"><i class="layui-icon">&#xe65f;</i></button>
        </div>

        <!-- 顶部左侧添加选项卡监听 -->
        <ul class="layui-nav" lay-filter="side-top-left">
            <!--<li class="layui-nav-item"><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe621;</i>基础</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></dd>
                    <dd><a href="javascript:;" href-url="demo/form.html"><i class="layui-icon">&#xe621;</i>表单</a></dd>
                </dl>
            </li>-->
        </ul>

        <!-- 顶部右侧添加选项卡监听 -->
        <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right">
            <li class="layui-nav-item"><a href="javascript:;" class="pay" href-url="">支持作者</a></li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><i class="layui-icon">&#xe629;</i>主题</a>
                <dl class="layui-nav-child">
                    <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                    <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                    <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><img src="../static/frame/static/image/code.png" alt="logo"> {{ Username }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="/"><i class="layui-icon">&#x1006;</i>退出</a></dd>
                </dl>
            </li>
        </ul>

    </div>
    <!-- side -->
    <div class="layui-side my-side">
        <div class="layui-side-scroll">
            <!-- 左侧主菜单添加选项卡监听 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
               <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>接口用例管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="/report/"><i class="layui-icon">&#xe621;</i>报告</a></dd>
                        <dd><a href="javascript:;" href-url="/project/"><i class="layui-icon">&#xe621;</i>项目</a></dd>
                        <dd><a href="javascript:;" href-url="/modules/"><i class="layui-icon">&#xe621;</i>模块</a></dd>
                        <dd><a href="javascript:;" href-url="/case/"><i class="layui-icon">&#xe621;</i>接口</a></dd>
                        <dd id="step"><a href="javascript:;" href-url="/step/"><i class="layui-icon">&#xe621;</i>用例</a></dd>
                        <dd><a href="javascript:;" href-url="/sql/"><i class="layui-icon">&#xe621;</i>sql管理</a></dd>
                        <dd><a href="javascript:;" href-url="/Nosql/"><i class="layui-icon">&#xe621;</i>Nosql管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>任务</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="/task/"><i class="layui-icon">&#xe621;</i>执行任务</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>配置页面</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="/env/"><i class="layui-icon">&#xe621;</i>访问地址</a></dd>
                        <dd><a href="javascript:;" href-url="/email/"><i class="layui-icon">&#xe621;</i>邮箱</a></dd>
                        <dd><a href="javascript:;" href-url="/database/"><i class="layui-icon">&#xe621;</i>数据库</a></dd>
                        <dd><a href="javascript:;" href-url="/NosqlDatabase/"><i class="layui-icon">&#xe621;</i>Nosql数据库</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>测试工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="/formatJson/"><i class="layui-icon">&#xe621;</i>断言解析辅助工具</a></dd>
                        <dd><a href="javascript:;" href-url="/functionhelp/"><i class="layui-icon">&#xe621;</i>函数助手</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
    <!-- body -->
    <div class="layui-body my-body">
        <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe638;</i>首页</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe id="iframe" src="/report/" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="layui-footer my-footer">

    </div>
</div>

<!-- pay -->
<div class="my-pay-box none">
    <div><img src="../static/frame/static/image/zfb.png" alt="支付宝"><p>支付宝</p></div>
    <div><img src="../static/frame/static/image/wx.png" alt="微信"><p>微信</p></div>
</div>

<!-- 右键菜单 -->
<div class="my-dblclick-box none">
    <table class="layui-tab dblclick-tab">
        <tr class="card-refresh">
            <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
        </tr>
        <tr class="card-close">
            <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
        </tr>
        <tr class="card-close-all">
            <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="../static/frame/layui/layui.js"></script>
<script type="text/javascript" src="../static/frame/static/js/vip_comm.js"></script>
<script type="text/javascript">
layui.use(['layer','vip_nav'], function () {

    // 操作对象
    var layer       = layui.layer
        ,vipNav     = layui.vip_nav
        ,$          = layui.jquery;

    // 顶部左侧菜单生成 [请求地址,过滤ID,是否展开,携带参数]
    vipNav.top_left('./json/nav_top_left.json','side-top-left',false);
    // 主体菜单生成 [请求地址,过滤ID,是否展开,携带参数]
    vipNav.main('./json/nav_main.json','side-main',true);

    // you code ...


});
</script>
</body>
</html>